body {
	--theme-primary: rgb(128, 237, 153);
	--theme-accent: rgb(114, 221, 247);

	--theme-elevation-1: rgba(0, 0, 0, 0.07);
	--theme-elevation-5: rgba(0, 0, 0, 0.17);

	--theme-font-main: 'Karla', sans-serif;
	--theme-font-mono: 'Source Code Pro', monospace;

	--theme-text-main: black;
	--theme-text-second: rgba(0, 0, 0, 0.87);

	align-items: center;
	color: var(--theme-text-main);
	display: flex;
	flex-direction: column;
	font-family: var(--theme-font-main);
	margin: 0;
	padding: 0;
}

code,
code[class*='language-'],
pre[class*='language-'] {
	font-family: var(--theme-font-mono);
}

pre[class*='language-'] {
	background: none;
	border: 1px solid var(--theme-elevation-1);
	font-size: 14px;
	margin: 1rem 0;
}

code:not([class*='language-']) {
	background-color: var(--theme-elevation-1);
	padding: 2px 6px;
}

p {
	color: var(--theme-text-second);
	line-height: 1.5;
}

table {
	border-collapse: collapse;
	max-width: 100%;
	margin: 1rem 0;
	width: 100%;
}

td,
th {
	border: 1px solid var(--theme-elevation-5);
	padding: 4px 6px;
}

.btn {
	background: none;
	border: 1px solid var(--theme-primary);
	color: var(--theme-text-main);
	cursor: pointer;
	font-family: var(--theme-font-main);
	outline: none;
	padding: 10px 20px;
}

a.btn {
	text-decoration: none;
}

.btn:hover,
.btn:hover {
	background-color: var(--theme-elevation-1);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}
